body {
  font-family: "RobotoDraft";
  font-weight: 300;
}

#navheader {
  /*background-color: #5cc2d8;*/
  /*background-color: #333333;*/
  background-color: #433e90;
  color: #fff;
}

core-header-panel {
  font-weight: bold;
  color: #424242;
}

core-scaffold::shadow core-toolbar {
  /*background-color: #433e90;*/
  background-color: #7986cb;
}

a {
  color: inherit;
}

.content {
  padding: 20px;
}

p {
  margin: 20px;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #fff;
}

#social {
  margin: 5px;
  padding: 5px 5px;
  border-radius: 10px;
  background-color: #fff; 
}

#social core-icon {
  margin-left: 10px;
}

#nav {
  /*background-color: #f7f7f7;*/
  /*background-color: #212121;*/
  background-color: #fff;
}

core-item {
  background-color: #fff;
  border-top: 1px solid #f7f7f7;
}

core-item:hover {
  background-color: #f7f7f7;
}

core-menu {
  margin-top: 0;
}

.avatar {
  width: 100%;
  height: inherit;
}

.aboutme {
  width: 100%;
  height: 400px;
}

.abt {
  width: 50%;
}

.about {
  width: 100%;
  min-height: 710px;
  height: auto;
  background-color: #fff;
}

core-animated-pages {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
}

core-animated-pages > * {
  border-radius: 5px;
  background-color: white;
  height: 100%;
}

#aboutme_pic {
  width: 50%;
  height: 50%;
  margin-bottom: 2%;
  margin-left: 5%;
  padding-top: 1%;
  /*border: 2px solid black;*/
}

#aboutme_pic img {
  width: 100%;
  height: 100%;
  /*border-radius: 5px;*/
  background-color: #fff;
}

#aboutme_desc {
  width: 80%;
}

#aboutme_desc p {
  /*background-color: #f7f7f7;*/
  margin: 0;
  margin: 0 0 0 5%;
  padding-left: 1%;
  line-height: 150%;
  font-size: 1.2em;
  padding-top: 0;
}

#home {
  
  overflow: overflow;
}

#pages section {
  background-color: #fff;
}

.toolbar {
      background-color: steelblue;
      height: 100px;
    }

    #container {
      overflow: hidden;
    }

    #noscroll {
      overflow-x: hidden;
      overflow-y: auto;
    }

    .card {
      position: relative;
      height: 150px;
      width: 150px;
      font-size: 50px;
      margin: 8px;
      background-color: tomato;
      border-radius: 4px;
      cursor: default;
    }

    .view {
      font-size: 250px;
      background-color: tomato;
    }

    .blog-date {
      color: #9E9E9E;
      font-size: 1em;
      font-weight: bold;
      text-align: right;
    }

#quizup-download-link {
  margin: 0;
}

.blog {
  width: 100%;
  min-height: 700px;
  height: auto;
  background-color: #fff;
}

.blog .content {
  padding: 2%;
}

.blog .content .header {
  font-size: 2.5em;
  font-weight: bold;
}

.blog .content div {
  font-size: 1.3em;
  margin-top: 1%;
  line-height: 1.5em;
}

.blog .content .blog-date {
  font-size: 1em;
  text-align: left;
  font-weight: normal;
} 

.blog .content img {
  width: 25%;
  height: 20%;
  margin-left: 33%;
  margin-top: 2%;
}

.blog .content .blog-back {
  font-size: 1.8em;
  text-decoration: underline;
  margin-left: 42%;
  font-weight: bold;
  color: #433e90;
}

.blog-page-header {
  background-color: #fff;
  font-size: 1.8em;
  height: auto;
  border-bottom: 1px solid #9E9E9E;
  font-weight: bold;
  padding: 2% 3% 2% 2%;
  color: #757575;
}

@media all and (max-width: 480px) {
  core-animated-pages {
    width: 95%;
    height: 95%;
    -webkit-user-select: none;
    overflow: overflow;
  }

  #aboutme_pic {

    width: 96%;
    height: 200px;
    margin: 0 2% 0 2%;
  }

  #aboutme_desc {
    width: 96%;
    margin: 2% 2% 0 2%;
  }

  #aboutme_desc p {
    font-size: 1.2em;
    margin: 0;
  }

  .blog .content .header {
    font-size: 1.6em;
    line-height: 1.2em;
  }

  .blog .content div {
    font-size: 1em;
    line-height: 1.5em;
    padding: 0% 2% 0% 2%;  
  }

  .blog .content img {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .blog-page-header {
    color: #757575;
    padding: 4% 3% 4% 3%;
  }

  .blog .content .blog-date {
    padding-bottom: 8px;
  }
}