{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body unresolved fullbreed>
<template is="auto-binding" id="t">
<core-scaffold>
  <core-header-panel navigation flex id="nav">
    <core-toolbar id="navheader">
      <span>Menu</span>
    </core-toolbar>
    
    <p><img class="avatar" src="{{ root_url }}/images/avatar.jpg"></img></p>
    
    <core-menu>
      <core-item label="Home" icon="home"><a href="{{ root_url }}/"></a></core-item>
      <core-item label="Blog" icon="apps"><a href="{{ root_url }}/blog/"></a></core-item>
      <core-item label="Projects" icon="extension"><a href="{{ root_url }}/projects/"></a></core-item>
    </core-menu>
    <hr/>
    <div id="social">
      <a href="https://github.com/sunilkumarc/"><core-tooltip label="Github"><core-icon icon="social:post-github"></core-icon></core-tooltip></a>
      <a href="http://in.linkedin.com/in/sunilkumarc"><core-tooltip label="Linkedin"><core-icon icon="social:post-linkedin"></core-icon></core-tooltip></a>
      <a href="https://plus.google.com/+SunilKumarc682"><core-tooltip label="GPlus"><core-icon icon="social:post-gplus"></core-icon></core-tooltip></a>
      <a href="https://twitter.com/sunilkumar682"><core-tooltip label="Twitter"><core-icon icon="social:post-twitter"></core-icon></core-tooltip></a>
      <a href="https://www.facebook.com/sunil.kumar.682"><core-tooltip label="Facebook"><core-icon icon="social:post-facebook"></core-icon></core-tooltip></a>
    </div>
  </core-header-panel>
  <span tool>Sunil Kumar C</span>
  
  <div layout horizontal center-center fit>
      <core-animated-pages id="pages">
        {{ content | expand_urls: root_url }}      
      </core-animated-pages>
    </div>

</core-scaffold>

</template>
<script src="{{ root_url }}/javascripts/app.js"></script>
</body>
</html>
