<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <meta property="og:title" content="Sunil Kumar C" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ root_url }}/images/avatar.jpg" />


    <title>Sunil Kumar C</title>
    <link rel="icon" type="image/png" href="{{root_url}}/favicon.png" />
    <meta name="description" content="Perspective Page View Navigation: Transforms the page in 3D to reveal a menu" />
    <meta name="keywords" content="3d page, menu, navigation, mobile, perspective, css transform, web development, web design" />
    <meta name="author" content="Codrops" />


    <link rel="shortcut icon" href="{{ root_url }}/favicon.ico">
    
    <link rel="stylesheet" type="text/css" href="{{ root_url }}/stylesheets/foundation.css" />
    <link rel="stylesheet" type="text/css" href="{{ root_url }}/stylesheets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="{{ root_url }}/stylesheets/demo.css" />
    <link rel="stylesheet" type="text/css" href="{{ root_url }}/stylesheets/component.css" />
    <link rel="stylesheet" type="text/css" href="{{ root_url }}/stylesheets/style.css" />


    <link rel="stylesheet" type="text/css" href="{{ root_url }}/stylesheets/general_foundicons.css" />

    <!-- csstransforms3d-shiv-cssclasses-prefixed-teststyles-testprop-testallprops-prefixes-domprefixes-load --> 
    <script src="{{ root_url }}/javascripts/modernizr.custom.25376.js"></script>
  </head>
