<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="description" content="My Personal Website" />
    <meta name="keywords" content="sunilkumarc" />
    <meta name="author" content="Sunil Kumar C" />
    <meta property="og:title" content="Sunil Kumar C" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ root_url }}/images/avatar.jpg" />

    <title>Sunil Kumar C</title>
    <link rel="icon" type="image/png" href="{{root_url}}/favicon.png" />
    
    <link rel="shortcut icon" href="{{ root_url }}/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ root_url }}/stylesheets/foundation.css" />
    <link rel="stylesheet" type="text/css" href="{{ root_url }}/stylesheets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="{{ root_url }}/stylesheets/demo.css" />
    <link rel="stylesheet" type="text/css" href="{{ root_url }}/stylesheets/component.css" />
    <link rel="stylesheet" type="text/css" href="{{ root_url }}/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ root_url }}/stylesheets/general_foundicons.css" />

    <script src="{{ root_url }}/javascripts/modernizr.custom.25376.js"></script>
  </head>
