<!DOCTYPE html>
<html>
  <head>
    <title>Sunil Kumar C</title>
    <link rel="icon" href="{{ root_url }}/favicon.png" type="image/png" />
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="{{ root_url }}/javascripts/jquery.min.js"></script>
    <script src="{{ root_url }}/javascripts/jquery.scrolly.min.js"></script>
    <script src="{{ root_url }}/javascripts/jquery.scrollzer.min.js"></script>
    <script src="{{ root_url }}/javascripts/skel.min.js"></script>
    <script src="{{ root_url }}/javascripts/skel-layers.min.js"></script>
    <script src="{{ root_url }}/javascripts/init.js"></script>

    <noscript>
      <link rel="stylesheet" href="{{ root_url }}/stylesheets/skel.css" />
      <link rel="stylesheet" href="{{ root_url }}/stylesheets/style.css" />
      <link rel="stylesheet" href="{{ root_url }}/stylesheets/style-wide.css" />
    </noscript>
    <script type="text/javascript">    
    </script>
  </head>
